.DS_Store
*.log
*.js.map

bower_components
node_modules
build
etc
dist/*
!dist/README.md
!dist/package.json
!dist/CHANGELOG.md
!dist/CONTRIBUTING.md

.rpt2_cache
.idea
.sass-cache
.tmp
.tern-project
.project
.settings
.pyc
.nsbuildinfo
