.DS_Store
*.log
*.js.map

bower_components
node_modules
build
etc
dist/bundles
dist/src
dist/index.d.ts
dist/index.js
dist/index.js.map

.rpt2_cache
.idea
.sass-cache
.tmp
.tern-project
.project
.settings
.pyc
.nsbuildinfo
