@import "../../../../core/ui/styles/palliative-material2-theme-icons.scss";

// BUTTONS
.button-big {
    height: 70px;
}

// BADGES
.badge-green {
    position: relative;
}

.badge-green[data-badge]:after {
    content: attr(data-badge);
    position: absolute;
    font-size: 20px;
    background: green;
    color: white;
    width: 38px;
    height: 38px;
    text-align: center;
    line-height: 38px;
    border-radius: 30%;
    box-shadow: 0 0 10px #333;
}

.badge-red {
    position: relative;
}

.badge-red[data-badge]:after {
    content: attr(data-badge);
    position: absolute;
    font-size: 20px;
    background: red;
    color: white;
    width: 38px;
    height: 38px;
    text-align: center;
    line-height: 38px;
    border-radius: 30%;
    box-shadow: 0 0 10px #333;
}

.badge-yellow {
    position: relative;
}

.badge-yellow[data-badge]:after {
    content: attr(data-badge);
    position: absolute;
    font-size: 20px;
    background: yellow;
    color: white;
    width: 38px;
    height: 38px;
    text-align: center;
    line-height: 38px;
    border-radius: 30%;
    box-shadow: 0 0 10px #333;
}