// COLORS
//-------------------------------------//
$md-primary-color: #00DB5D;
$md-accent-color: #1EBAE4;
$md-warning-color: #D32F2F;
$md-white-color: #FFF;
$md-grey-color: #929292;
$md-blue-color: #40C4FF;

// FONT FAMILY AND FONT SIZE
//-------------------------------------//
$application-font: 'RobotoLight', sans-serif;
$application-font-color: #00c853;
$application-font-placeholder-color: #B6B6B6;
$application-font-white: #FFF;
$font-size-50: 7.25vw;
$font-size-40: 3.5vw;
$font-size-35: 2.3vw;
$font-size-30: 1.95vw;
$font-size-28: 1.85vw;
$font-size-25: 1.7vw;
$font-size-20: 1.57vw;
$font-size-18: 1.4vw;
$font-size-15: 1.1vw;
$font-size-13: 1vw;